@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("about:reader?") {

 #moz-reader-content {
   text-align: justify;
   font-size: xx-large !important;;
 }
 body.sans-serif{
   font-family: "Avenir", "PingFang SC", "Microsoft Yahei";
 }
 body.serif{
   font-family: "Crimson", "FZShuSong-Z01S";
 }
 body.light {

 }
 body.dark {
 
 }
 body.sepia {
 
 }

}
