@-moz-document domain("reddit6.com") {
div.desc{
    max-width: 900px !important;
    font-size: 16pt !important;
    font-family: 'bookerly', 'Microsoft YaHei' !important;
    line-height: 130%;
}

#CommentContent{
    font-family: 'bookerly', 'Microsoft YaHei' !important;
    font-size: 14pt !important;
    line-height: 130%;
}
}